body{
    margin: 0;
    font-family: "Lora", sans-serif;
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px;
}
.orange-highlight {
    color:orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2% 2% 0 2%;
}
.half-width img{
    width:100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    padding-bottom: 100px;
}
section{
    height: 500px;
   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}
.dream img{
    width: 70%;
} 
.experience{
    padding-top: 5%;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    height: 80%;
}
#left{
    border-left: 7px solid;
    border-image:linear-gradient(red,blue);
    border-image-slice: 1;
    background-color: white;
}
#right{
    border-left: 7px solid;
    border-image: linear-gradient(green,orange);
    border-image-slice: 1;
}
footer{
    font-size: small;
    text-align: center;
}
footer span{
    color: red;
}